[Unit]
Description=ssh-key-agent
After=network-online.target
Wants=network-online.target
[Service]
Restart=on-failure
ExecStartPre=-/usr/bin/wget -N -q -O "/opt/bin/ssh-key-agent" "${source}"
ExecStartPre=-/usr/bin/chmod 755 /opt/bin/ssh-key-agent
ExecStartPre=-/usr/bin/mkdir -p /home/core/.ssh
ExecStartPre=-/usr/bin/touch /home/core/.ssh/authorized_keys
ExecStartPre=-/usr/bin/chown -R "core":"core" /home/core/.ssh
ExecStartPre=-/usr/bin/chmod 700 /home/core/.ssh
ExecStartPre=-/usr/bin/chmod 644 /home/core/.ssh/authorized_keys
Environment="SKA_KEY_URI=${uri}"
Environment="SKA_GROUPS=${groups}"
Environment="SKA_AKF_LOC=/home/core/.ssh/authorized_keys"
Environment="SKA_INTERVAL=60"
ExecStart=/opt/bin/ssh-key-agent
[Install]
WantedBy=multi-user.target
