[Unit]
Description=ssh-key-agent-download
Wants=network-online.target
After=network-online.target
Before=ssh-key-agent.service

[Service]
Type=oneshot
Restart=on-failure
RestartSec=10
ExecStart=-/usr/bin/wget -N -q -O "/opt/bin/ssh-key-agent" "${source}"
ExecStart=-/usr/bin/chmod 755 /opt/bin/ssh-key-agent
ExecStartPost=/bin/systemctl disable ssh-key-agent-download.service

[Install]
WantedBy=multi-user.target
